#loan_calculator{
	margin: 10px 0px;
}

.loan_calculator_sidebar #loan_calculator{
	margin: 0px;
}

.loan_calculator_label{
	margin-right: 10px;
    font-weight: bold;
}

.loan_calculator_field{
    font-size: 26px;
}

.loan_calculator_wrapper{

}

.loan_calculator_sidebar span{
	display: block;
	margin-right: 0px;
}

.loan_calculator_sidebar td{
	display: block;
	float: left;
	margin-right: 15px;
}

.loan_calculator_sidebar .loan_calculator_label{
	margin-top: 5px;
}

.loan_calculator_sidebar input{

}
